In [1]:
import numpy as np
import pandas as pd
import os
import json

In [2]:
def compute_difference(paddle_outputs, torch_outputs):
    mean = np.mean((paddle_outputs - torch_outputs))
    std = np.sqrt(np.mean((paddle_outputs - torch_outputs)**2.0))
    return mean, std

In [3]:
torch_df = pd.read_pickle("Logical_Memory/deepspeech_outputs_tuned.pkl")
paddle_df = pd.read_pickle("Logical_Memory/deepspeech_outputs_paddle.pkl")

In [4]:
torch_df.head()

,uttid,probs,asr,text
0,241-Logical_Memory-I,"[[8.80124e-09, 4.5925925e-09, 0.00014864939, 6...",the thompson through south boston was a cook a...,anna thompson from south boston was a cook and...
1,7019-Logical_Memory-II,"[[1.9660776e-07, 6.514718e-06, 0.0016164558, 0...",mona thompson was a hunger way home works you ...,oh anna thompson was on her way home from work...
2,261-Logical_Memory-II,"[[1.1007098e-06, 1.4430835e-05, 0.009315087, 0...",name tom sinews a best because she had childre...,her name mrs thompson she was a mrs because sh...
3,7109-Logical_Memory-I,"[[1.5240578e-10, 1.9701767e-09, 2.1052198e-05,...",one thompson from the south boston bag i can't...,anna thompson from south boston gosh i ca n't ...
4,257_1-Logical_Memory-II,"[[1.6223948e-08, 2.4669174e-07, 0.00095818995,...",swear as you cook it for children something ab...,well it has woman that was a cook had four chi...

In [14]:
decimal = 7

stds_df = []

paddle_all = []
torch_all = []
for i in torch_df.uttid:
    if i not in paddle_df.uttid.tolist():
        print(i)
        continue
        
    
    paddle_value = paddle_df.prob[paddle_df.uttid == i].values[0]
    torch_value = torch_df.probs[torch_df.uttid == i].values[0]
    assert paddle_value.shape == torch_value.shape
    # assert paddle_df.asr[paddle_df.uttid == i].values == torch_df.asr[torch_df.uttid == i].values
    stds_df.append(compute_difference(paddle_value, torch_value)[1])
    paddle_all.extend(paddle_value)
    torch_all.extend(torch_value)

In [15]:
np.mean(stds_df)

0.06882648

In [16]:
np.std(stds_df)

0.012126422

In [17]:
len(paddle_all)

222722

In [18]:
compute_difference(paddle_outputs=np.array(paddle_all), torch_outputs=np.array(torch_all))

(1.5825685e-10, 0.069069594)